@font-face {
    font-family: "DIN Pro";
    src: url("fonts/DINPro.woff") format('woff');
}

@font-face {
    font-family: "DIN Pro";
    src: url("fonts/DINPro-Bold.woff") format('woff');
    font-weight: bold;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 100%;
    font-family: 'DIN Pro';
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    background: #21ce99;
    width: 100%;
    height: 100%;
    font: 1rem sans-serif;
}

h1 {
    font-size: 2rem;
    color: #EEE;
    font-weight: bold;
    margin-bottom: 1rem;
}

#root {
    max-width: 940px;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.search-container {
    position: relative;
}

.search {
    height: 3rem;
    background-color: #EEE;
    font-size: 1rem;
    border: 3px solid #CCC;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.search-results-container {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2;
}

.search-result {
    height: 4rem;
    width: 100%;
    background: #EEE;
    padding: 1rem;
    cursor: pointer;
}

.search-result:hover {
    background: #CCC;
}

.company-name {
    font-weight: bold;
}

.company-symbol {
    font-size: .7rem;
    color: #666;
}

.recharts-wrapper {
    background: #FFF;
}

.loading-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.loading-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #eee;
    border-color: #eee transparent #eee transparent;
    animation: loading-ring 1.2s linear infinite;
}
@keyframes loading-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}  